/***
 * 1. Position
 * 2. Display
 * 3. Box model
 * 4. Typography
 * 5. Background
 * 6. Transitions
 * 7. User
***/

/* Base. */
:root{
	color-scheme: light only !important;
}
html{ 
	height: 100%;

	font-family: sans-serif ;
	color: #dedede; !important;

	background: #020202;
	background-size: 100%, 8px;
	background-image: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 10%, rgb(0,0,0,0.7) 100%), url("/pattern.png");
	background-repeat: no-repeat, repeat;
}
body{
	display: flex;
	flex-direction: column;

	height: 95%;
	margin: 0 8vw;
}

/* Header */
header h1{
	flex: 0 1 auto;

	text-align: center;
}

/* Navigation. */
nav{
	margin: 0px 0px 10px 0px;

	overflow: hidden;
	border-style: double;
	border-color: white;

	background-image:  url("/navbar.png"), linear-gradient(to top, #334d2c 0%, #848c5e 100%);

	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
nav a{
	display: block;
	float: left;

	padding: 0px 4px;
	border-right: solid;
	border-color: #2a3926;

	color: black;
	text-align: center;
	text-decoration: none;

	background-image: linear-gradient(to top, #334d2c 0%, #848c5e 100%);
}
nav a.active{
	text-shadow: 1px 1px 2px  #334d2c;

	background-image: linear-gradient(to bottom, #334d2c 0%, #848c5e 100%);
}
nav a:hover{
	background-image: linear-gradient(to bottom, #334d2c 0%, #848c5e 100%);
}

/* Main frame. */
main{
	display: flex;
	flex-direction: column;

	flex: 1 1 auto;
	overflow: hidden;
	padding: 10px 0px;
	border: 6px solid #52584c;
	border-radius: 0 0 20px 20px;
	box-shadow: inset 11px 11px 16px #080909, inset -11px -11px 16px #181919;

	background: rgb(10, 10, 10, 0.8);
}
article{
	flex: 1 1 auto;
	margin: 0 40px;
	overflow: scroll;
	scrollbar-width: none; 
	-webkit-scrollbar: none;
  	-ms-overflow-style: none;

	word-wrap: break-word;
}

/*============
  === HOME ===
  ============*/
.home{
	display: flex;
	flex-direction: column;

	height: 100%;
}
.home-item#links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	flex: 1 1 auto;
}

.home-item#links.working{
	background: linear-gradient(110deg,rgba(20, 20, 20, 0) 36%, rgba(31, 31, 31, .5) 50%, rgba(20, 20, 20, 0) 67%);
	background-size: 200% 100%;   
    animation: 1.2s shine linear infinite;
}

.home-item#separator{
	flex: 0 1 auto;
}
.home-item h1{
	font-size: 20px;
	text-align: center;
}
.home-item p{
	text-align: center;
}

/*===============
  === GALLERY ===
  ===============*/

.gallery {
	position: relative;

	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.gutter-sizer { 
	width: 10px; 
}
.grid-sizer { 
	width: calc(20% - 8px);
}
.gallery-item {
	overflow: hidden;
	width: calc(20% - 8px);
	margin-bottom: 10px;
	border-radius: 8px;
	background: #111;

	/* 📌 Fade-in defaults */
	opacity: 0;
}
.gallery-source {
	opacity: 0;
	width: 30px;
	height: 30px;
	background: #292929;
	position: absolute;

	top: 0px;
	right: 0px;
	border-radius: 8px;
	text-align: center;
	transition: opacity 0.2s ease-in-out;
}
.gallery-item:hover .gallery-source{
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

/* Fade-in animation */
.gallery-item.visible {
	animation: growFromCenter 0.4s ease-out forwards;
}
.gallery-item.loading {
	background: #141414;
	background: linear-gradient(110deg,rgba(20, 20, 20, 0.12) 36%, rgba(31, 31, 31, 1) 50%, rgba(20, 20, 20, 0.12) 67%);
	background-size: 200% 100%;   
    animation: 0.5s shine linear infinite;
}

.gallery-item.loading.visible {
	animation:
		shine 0.5s linear infinite,
		growFromCenter 0.4s ease-out forwards;
}

.gallery-item img,
.gallery-item video {
	display: block;

	width: 100%;
	height: auto;
	object-fit: cover;
}
#link-card p{
	width: 100%;

	word-wrap: break-word;
}
#link-card {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0px 5px; 
	box-sizing: border-box;

	color: white;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

/*=================
  === RESOURCES ===
  =================*/
.resources{
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(5, 1fr);

	height: 100%;
    
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.resources-item{
	display: flex;
	flex-direction:column;

	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

	text-decoration: none;

	background: #111;

  	transform-origin: center center; 
	animation: growFromCenter 0.4s ease-out forwards;
}
.resources-item p{
	flex: 1 1 auto;
	margin: 0px 0px;

	color: #dedede;
	text-align: center;
}
.resources-item p#title{
	flex: 0 0 auto;
	padding: 10px;
}
.resources-item p#description {
	flex: 0 0 auto;
	max-height: 0;
	overflow: hidden;

	transition: max-height 0.3s ease;
}
.resources-item:hover p#description {
	padding: 10px;
	max-height: 200px;

	hyphens: auto;
	text-align: justify;
	word-break: break-word;
}
.resources-item img{
	display: block;

	height: 100%;
	object-fit: cover;
}

/*==============
  === FOOTER ===
  ==============*/
footer{
	flex: 0 1 auto;
	margin: 10px;
	clear: both;

	text-align: center ;
}

/*===============
  === DEFAULT ===
  ===============*/
img{
	max-width: 100% ;
}
a{
	color: #ebb434
}
hr{
	margin: 0;
	border: 1px inset #444;

	color: 1px inset #444;

	background-color: 1px inset red;
}

/* Default Theme Settings */
.taglist{
	clear: both ;

	text-align: center ;
}
#nextprev{
	/* The container for both the previous and next articles. */
}
#prevart{
	float: left ;

	text-align: left ;
}
#nextart{
	float: right ;

	text-align: right ;
}
#nextart,#prevart{
	max-width: 33% ;
}

/* Responsive Design */
@media only screen and (max-width: 767px) 
{
	body{
		margin: 0px 20px; 
	}
	.gutter-sizer { 
		width: 10px; 
	}
	.grid-sizer{
		width: calc(50% - 5px);
	}
	.gallery-item {
		width: calc(50% - 5px);
		position: relative;
	}
	.resources{
		grid-template-columns: repeat(1, auto);
	}
	.resources-item{
		min-height: 250px;
	}
	.resources-item p{
		overflow: hidden;
	}
	.resources-item img{
		width: 100%;
	}
}

/* Keyframes */
@keyframes growFromCenter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
