html { 
	margin: 0;
	height: 100%;

	font-family: sans-serif ;
	color: #fff;

	background-image: linear-gradient(to top, transparent 86%, rgb(0,0,0,0.8) 100%), url("pattern.png");
	background-size: 100%, 1vw;
	background-repeat: no-repeat, repeat;
}

body {
	height: 90%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

article {
  word-wrap: break-word;
	flex: 1;
	border: 0.5rem solid #52584c;
	background: #000;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

a {
	color: #ebb434
}

footer {
	text-align: center ;
	clear: both;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
